@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: black;
}


@keyframes spinZoom {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.08);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
